<html>
<head>
<style>
table, th, td {
    border:1px solid black;
}

table#t01{
    width:100%;
    background-color: lightgoldenrodyellow
}
</style>



<table align="left" id="t01" style="width:100%">
<caption>Current Polls</caption>
<tr>
    <th>Candidate</th>
    <th>Votes</th>
</tr>
<tr>    
    <td>Ho Chi Min</td>
    <td>20</td>
</tr>
<tr>
    <td>Elon Musk</td>
    <td>45</td>
</tr>
<tr>
    <td>Big Daddio</td>
    <td> 43 </td>
</tr>
</table>

</head>
</html>

<!--
<th> Defines a header cell in the table
<tr> Defines a row
<td> Defines a cell in the table

Edit the <td></td> on each canditate for updating the results.
This is a place holder for something better. It's not purdy, I get
it, but it's functional.
-->

